<h3>reactive Form</h3>
<div >
    <form [formGroup]="clientsForm" (ngSubmit)="addClients()">
        <p>Product ID:</p>
        <input type="text" id="clientFname" placeholder="eg: 999" formControlName="fname" >
        <br>
        <p>Product Name:</p>
        <input type="text" id="clientLname" placeholder="eg: Chees" formControlName="lname" >
        <br>
        <p>Product Price:</p>
        <input type="text" id="clientEmail" placeholder="eg: 3€" formControlName="email" >
        <br>
        <p>Product Rankings:</p>
        <input type="text" id="clientPhone" placeholder="eg: 3,5" formControlName="phone" >
        <br>
        <br>
        <p>Product Rankings:</p>
        <input type="text" id="clientProject" placeholder="eg: 3,5" formControlName="project" >
        <br>
        <br>
        <!-- <select formControlname="category">
            <option [ngValue]="null" disabled>Select </option>
            <option *ngFor="let category of categories" [ngValue]="category.title">{{category.title}}</option>
        </select> -->
        <br>
        <br>
        <button class="btn btn-primary" type="submit">ADD Product </button>
        <br>
    </form>
    <br>
</div>

<h3>FORM DATA</h3>
<p>{{clientsForm.value | json}}</p>
