<h3>reactive Form</h3>
<div class="float-start" >
    <form [formGroup]="clientsForm" (ngSubmit)="addClients()">
        <p>clients first name:</p>
        <input type="text" id="clientFname"  formControlName="fname" >
        <br>
        <p>clients lastname:</p>
        <input type="text" id="clientLname"  formControlName="lname" >
        <br>
        <p>clients email:</p>
        <input type="text" id="clientEmail"  formControlName="email" >
        <br>
        <p>Clients phone number:</p>
        <input type="text" id="clientPhone"  formControlName="phone" >
        <br>
        <p>realated PRoject:</p>
        <input type="text" id="clientProject"  formControlName="project" >
        <!-- <select formControlname="category">
            <option [ngValue]="null" disabled>Select </option>
            <option *ngFor="let category of categories" [ngValue]="category.title">{{category.title}}</option>
        </select> -->
        <br>
        <button class="btn btn-primary" type="submit">add user </button>
    </form>
</div>
<div class="float-end">
    <form [formGroup]="deletClientForm" (ngSubmit)="deletClient()">
        <p>clients email :</p>
        <input type="text" id="emailToDelet"  formControlName="email" >
        <br>
        <button class="btn btn-primary" type="submit">delet client </button>
    </form>
</div>
<div class="text-break">
    <h3>FORM DATA</h3>
    <p>{{result | json}}</p>
    <p>{{client | json}}</p>
</div>